/*
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

*/
body,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Tajawal', sans-serif !important;
    font-family: swap;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #1a504a;
    ;

    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1002;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgba(129, 89, 43, 0.466);

    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e0d6c652;

    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    z-index: 1001;

}

/* #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    } */

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);
    /* IE 9 */
    transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);
    /* IE 9 */
    transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);
    /* IE 9 */
    transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */

    /* -webkit-transition: all 0.3s 1s ease-out;   */
    /* transition: all 0.3s 1s bounce-out-bottom; */
    animation: bounce-out-bottom 1.5s linear infinite;
}

.bounce-out-bottom {
    -webkit-animation: bounce-out-bottom 1.5s both;
    animation: bounce-out-bottom 1.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-4 12:11:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-out-bottom
 * ----------------------------------------
 */
@-webkit-keyframes bounce-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    5% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    15% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    25% {
        -webkit-transform: translateY(38px);
        transform: translateY(38px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    52% {
        -webkit-transform: translateY(75px);
        transform: translateY(75px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    70% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    85% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(800px);
        transform: translateY(800px);
        opacity: 0;
    }
}

@keyframes bounce-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    5% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    15% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    25% {
        -webkit-transform: translateY(38px);
        transform: translateY(38px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    52% {
        -webkit-transform: translateY(75px);
        transform: translateY(75px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    70% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    85% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(800px);
        transform: translateY(800px);
        opacity: 0;
    }
}

p {
    line-height: 1.8;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: #009999;
}

.container-fluid {
    max-width: 1770px;
}

.tm-container-small {
    max-width: 1050px;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #009999;
    border: 0;
    border-radius: 5px;
    padding: 12px 50px 14px;
    font-size: 1.2rem;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #086969;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #009999;
    pointer-events: all;
    cursor: not-allowed;
}

.form-control {
    padding: 10px 20px;
    width: 100%;
    height: auto;
}

.form-group {
    margin-bottom: 25px;
}

.tm-btn-big {
    padding: 12px 90px 14px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-brand {
    color: #666666;
    font-size: 1.6rem !important;
}

.navbar-brand:hover {
    color: rgba(182, 131, 73, 0.466);
}

.navbar-brand i {
    font-size: 2rem;
}



.tm-hero {
    min-height: 200px;
    background: transparent;
}

.tm-mt-60 {
    margin-top: 60px;
}

.tm-mb-50 {
    margin-bottom: 50px;
}

.tm-mb-74 {
    margin-bottom: 74px;
}

.tm-mb-90 {
    margin-bottom: 90px;
}

.tm-text-primary {
    color: #009999;
}

.tm-text-secondary {
    color: #CC6699;
}

a.tm-text-primary:hover {
    color: #666666;
}

.tm-bg-gray {
    background-color: #e0d6c652;
}

.tm-input-paging {
    width: 40px;
    border-radius: 0;
    border: 1px solid #CCCCCC;
    background: #f4f4f4;
    text-align: center;
}

.nav-item {
    margin-right: 30px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    color: #666666;
    border-bottom: 4px solid transparent;
    font-size: 1.2rem;
}

.nav-link-1:hover {
    color: rgba(182, 131, 73, 0.466);
}

.nav-link-1.active {
    border-color: #33CCFF;
}

.nav-link-2.active,
.nav-link-2:hover {
    border-color: #FF6666;
}

.nav-link-3.active,
.nav-link-3:hover {
    border-color: #33CC66;
}

.nav-link-4.active,
.nav-link-4:hover {
    border-color: #CC66CC;
}

.tm-search-input {
    width: 360px;
    border-radius: 0;
    padding: 12px 15px;
    color: #009999;
    border: none;
}

.tm-search-input:focus {
    border-color: #009999;
    box-shadow: 0 0 0 0.25rem rgb(0 153 153 / 0.25);
}

.tm-search-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #009999;
    opacity: 1;
    /* Firefox */
}

.tm-search-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #009999;
}

.tm-search-btn {
    color: white;
    background-color: #009999;
    border: none;
    width: 100px;
    height: 50px;
    margin-left: -1px;
}

p,
.tm-text-gray {
    color: #999;
}

.tm-text-gray-light {
    color: #CCC;
}

.tm-text-gray-dark {
    color: #212529;
}

.tm-video-item {
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.tm-video-item img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.tm-video-item figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tm-video-item figcaption::before,
.tm-video-item figcaption::after {
    pointer-events: none;
}

.tm-video-item figcaption,
.tm-video-item figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tm-video-item figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.tm-video-item h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.tm-video-item h2,
.tm-video-item p {
    margin: 0;
}

.tm-video-item p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

.tm-gallery div.d-block {
    animation: show .5s ease;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.tm-paging-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 1.1rem;
    color: #999;
    background-color: #EEEEEE;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.tm-paging-link:hover,
.tm-paging-link.active {
    background-color: #009999;
    color: #fff;
}

/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
    background: #030c17;
}

figure.effect-ming img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
}

figure.effect-ming h2 {
    font-size: 1.3em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover h2 {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure.effect-ming:hover figcaption {
    background-color: rgba(58, 52, 42, 0);
}

figure.effect-ming:hover img {
    opacity: 0.4;
}

.tm-footer-links li {
    list-style: none;
    margin-bottom: 5px;
}

.tm-footer-links li a {
    color: #999999;
}

.tm-footer-links li a:hover {
    color: #53ccf9;
}

.tm-social-links li {
    list-style: none;
    margin-right: 15px;
}

/* .tm-social-links li:last-child { margin-right: 0; } */

.tm-social-links li a {
    color: #999999;
    width: 44px;
    height: 44px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.tm-social-links li a:hover {
    color: #fff;
    background-color: #53ccf9;
}

.tm-footer {
    font-size: 0.95rem;
}

.tm-footer-title {
    font-size: 1.4rem;
}

/* Videos */
#tm-video-container {
    max-height: 400px;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 90px;
    position: relative;
}

#tm-video {
    display: block;
    width: 100%;
    height: auto;
}

#tm-video-control-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: #e1e1e1;
}

.tm-video-details {
    height: 100%;
    padding: 40px;
}

/* About */
.tm-row-1640 {
    max-width: 1640px;
}

.tm-about-2-col {
    max-width: 716px;
}

.tm-about-3-col {
    max-width: 540px;
}

.tm-about-2-col,
.tm-about-3-col {
    margin-bottom: 50px;
}

.tm-about-icon-container {
    width: 150px;
    height: 150px;
    border: 1px solid #009999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lableName {
    position: absolute;
    top: 0;
    left: auto;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

.tm-about-img-text {
    max-width: 940px;
}

/* Contact */
select.form-control {
    border-radius: 0;
}

select.form-control option {
    height: 30px;
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-image: url(../img/select-arrow.png);
    padding: 14px 20px;
    padding-right: 20px;
    color: #666;
}

.mapouter {
    position: relative;
    height: 480px;
    width: 100%;
    max-width: 480px;
}

.gmap-canvas {
    overflow: hidden;
    background: none !important;
    height: 480px;
    width: 100%;
}

.tm-contact-form {
    max-width: 420px;
}

.tm-address-col {
    max-width: 520px;
}

.tm-contacts {
    padding-left: 0;
}

.tm-contacts li {
    list-style: none;
    margin-bottom: 20px;
}

.tm-contacts li a i {
    width: 30px;
}

.tm-social {
    display: flex;
}

.tm-social li {
    list-style: none;
    margin-bottom: 20px;
    margin-right: 15px;
}

.tm-social li a i {
    width: 40px;
    height: 40px;
    color: #666666;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.tm-social li a:hover i {
    color: #fff;
    background-color: #009999;
}

.form-control,
input:-internal-autofill-selected,
select:not([multiple]) {
    color: #009999 !important;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #009999;
    opacity: 1;
    /* Firefox */
}

.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    padding-left: 50px;

    background-color: #13c7bb;
    color: white;

    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
}

.buttonDownload:hover {
    background-color: #333;
    color: white;
}

.buttonDownload:before,
.buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 1px;
    margin-top: -7px;

    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;

    animation: downloadArrow 2s linear infinite;
    animation-play-state: paused;
}

.buttonDownload:hover:before {
    border-color: #4CC713;
}

.buttonDownload:hover:after {
    border-top-color: #4CC713;
    animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {

    /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
    0% {
        margin-top: -7px;
        opacity: 1;
    }

    0.001% {
        margin-top: -15px;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        margin-top: 0;
        opacity: 0;
    }
}


@media (max-width: 991px) {
    .navbar-collapse {
        position: fixed;
        top: 50px;
        /* right: 0px; */
        background: white;
        width: 150px;
        padding: 15px;
        /* display: flex !important; */
        left: 0px;
        text-align: center;
    }

    .tm-container-content {
        max-width: 870px;
    }

    .tm-contact-form,
    .tm-address-col,
    .mapouter {
        max-width: 100%;
    }

    .tm-people-row {
        max-width: 900px;
    }
}

@media (max-width: 767px) {
    .tm-paging-col {
        flex-direction: column;
    }

    .tm-paging {
        flex-wrap: wrap;
    }

    .tm-about-img-text {
        max-width: 640px;
    }

    .tm-about-2-col,
    .tm-about-3-col {
        margin-bottom: 50px;
    }
}

@media (max-width: 575px) {
    .tm-container-content {
        max-width: 420px;
    }

    .tm-search-form {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        justify-content: center;
    }

    .tm-search-input {
        width: 100%;
        max-width: 360px;
    }

    .tm-people-row {
        max-width: 420px;
    }
}

@media (max-width: 400px) {
    .tm-btn-big {
        padding: 12px 50px 14px;
    }
}

@media (max-width: 334px) {
    .tm-social-links {
        flex-wrap: wrap;
        justify-content: start !important;
    }

    .tm-social-links li {
        margin-right: 3px;
    }
}


#color {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#up {
    border: 2px solid white;
    background: white;
    padding: 15px 21.5px 7px 21.5px;
    border-radius: 50%;
    color: white;
    transition: background 0.5s ease;
    background: #57c7bc;
}

#up:hover {
    background: #226b64;
    color: white;
    font-weight: bolder
}

#up:hover i {
    color: white;
}

.arrow1 {
    animation: slide1 1s ease-in-out infinite;
}

@keyframes slide1 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 10px);
    }
}



#right {
    border: 2px solid white;
    background: white;
    padding: 10px 15px 7px 15px;
    border-radius: 50%;
    color: white;
    transition: background 0.5s ease;
    background: #57c7bc;
}

#right:hover {
    background: #226b64;
    color: white;
    font-weight: bolder
}

#right:hover i {
    color: white;
}

.arrow2 {
    animation: slide2 1s ease-in-out infinite;
    position: relative;
    top: 2px;
}

@keyframes slide2 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}


#left {
    border: 2px solid white;
    background: white;
    padding: 10px 15px 7px 15px;
    border-radius: 50%;
    color: white;
    transition: background 0.5s ease;
    background: #57c7bc;
}

#left:hover {
    background: #226b64;
    color: white;
    font-weight: bolder
}

#left:hover i {
    color: white;
}

.arrow3 {
    animation: slide3 1s ease-in-out infinite;
    position: relative;
    top: 2px;
}

@keyframes slide3 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-10px, 0);
    }
}


#down {
    border: 2px solid white;
    background: white;
    padding: 15px 15px 7px 15px;
    border-radius: 50%;
    color: white;
    transition: background 0.5s ease;
    background: #57c7bc;
}

#down:hover {
    background: #226b64;
    color: white;
    font-weight: bolder
}

#down:hover i {
    color: white;
}

.arrow4 {
    animation: slide4 1s ease-in-out infinite;
    /* position: relative;
    top: 2px; */
}

@keyframes slide4 {

    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -10px);
    }
}

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-4 11:49:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.bb {

    border-color: #57c7bc !important;
    font-size: 24px !important;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: #fff !important;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 8px;
    border: 1px solid #57c7bc !important;

}

.bb:hover {
    color: #000 !important;
    background-color: #fff !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.fast-transition {
    position: relative;
    /* For positioning the pseudo-element */
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */

}

.fast-transition:hover {
    transform: scale(1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    transition: .5s ease-in-out;

}

.fast-transition:hover::after {
    /* Show the pseudo-element on hover. */
    opacity: 1;
}
